div {
    border: 1px solid black;
}

img {
    width: 200px;
}

h1 {
    display:flex;
    justify-content:center;
    background-color:#fff700;
}
.navBar {
    display: flex;
    justify-content: space-between;
}
.navBarItem{
    background-color:#88fa54;
    border:8px solid #1dd7f8;
    padding:8px;
}
.container{
    display:flex;
    justify-content: flex-start;
    align-items:stretch;
    align-content: stretch;
    margin-top:8px;
}
.aboutMe {
    width: 200px;
    background-color:#dcfa99;
}
.posts {
    width: 200px;
    background-color:#b7dcfb;
}
.friendsList {
    width: 200px;
    background-color:#ffc966;
}
body {
    background-color:#7fffbb;
}